nav ul{
    display: flex;
    justify-content: center;
    background-color:blueviolet;
    color: white;
    min-height: 50px;
    align-items: center;
    column-gap: 30px;

}

nav ul li{
    list-style: none;
}

a{
    color: black;
    margin-left:30px;
}